#bg1 {
    background: url(velvet_room.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bg2{
    background: url(velvet_room_p5.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bg3{
    background: url(velvet_room_wp.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bg4{
    background-color: darkblue;
}
#coming-soon{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 43%;
    margin-top: -50px;
    margin-left: -100px;
}
#kotak{
    background-color: C4C4C4;
}
.welcome_box{
    background-color: rgb(0,0,0,0.5);
    position: fixed;
    top: 10%;
    left: 40%;
    margin-top: -20px;
    margin-left: -100px;
    height: 550px;
    width: 500px;
}
#welcome-text{
    color: white;
    position: fixed;
    top: 30%;
    left: 44%;
    margin-top: -50px;
    margin-left: -100px;
}
.profilebox{
    font-size: larger;
    color: C4C4C4;
    background-color: rgb(0,0,0,0.5);
    flex: auto;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px ;
    margin-left: -100px;
}
#profpic{
    position: fixed;
    top: 30%;
    left: 30%;
    margin-top: -50px ;
    margin-left: -100px;
}
.Hobbies{
    display: block;
    background-color: C4C4C4;
}
.hobby{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.gaming{
    background-color: C4C4C4;
    flex: 1;
    order: 1;
    margin-left: 50px;
    margin-right: 50px;
}
.reading{
    background-color: C4C4C4;
    flex: 1;
    order: 2;
    margin-left: 50px;
    margin-right: 50px;   
}
.memeing{
    background-color: C4C4C4;
    flex: 1;
    order: 3;
    margin-left: 50px;
    margin-right: 50px;
}
.anime{
    background-color: C4C4C4;
    flex: 1;
    order: 4;
    margin-left: 50px;
    margin-right: 50px;
}
#under{
    color: white;
    position: fixed;
    top: 57%;
    left: 49%;
    margin-top: -50px;
    margin-left: -90px;
}
.button{
    text-align: center;
}
#button1{
    background-color: yellow;
    color: black;
    position: fixed;
    top: 90%;
    left: 10%;
    margin-top: -50px;
    margin-left: -100px;
    height: 65px;
    width: 170px;
}
#button2{
    background-color: yellow;
    color: black;
    position: fixed;
    top: 90%;
    left: 25%;
    margin-top: -50px;
    margin-left: -100px;
    height: 65px;
    width: 170px;
}
#comingsoon{
    background-color:00EAF7;
    color: black;
    position: fixed;
    top: 90%;
    left: 80%;
    margin-top: -50px;
    margin-left: -100px;
    height: 65px;
    width: 190px;
}
.sosmed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 90%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: white;
    position: fixed;
    padding: 8px;
}
.fb{
    flex: 1;
    order: 1;
    margin-left: 35px;
    margin-right: 35px;
}
.twit{
    flex: 1;
    order: 2;
    margin-left: 35px;
    margin-right: 35px;
}
.gitlab{
    flex: 1;
    order: 4;
    margin-left: 35px;
    margin-right: 35px;
}
.ig{
    flex: 1;
    order: 3;
    margin-left: 35px;
    margin-right: 35px;
}
#credit{
    color: white;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}